#about-slider{
	display: flex;
	margin: 1rem 0;
	&.slick-initialized{
		display: block;
	}
	.slick-slide{
		text-align: center;
	}
	a{
		display: inline-block;
		position: relative;
		&:before{
			@extend .before;
			opacity: 0;
			background: url(images/zoom.svg) no-repeat center;
			height: 63px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity .3s;
			width: 63px;
			z-index: 2;
		}
		&:after{
			@extend .before;
			border: 3px solid rgba(255,255,255,0);
			border-radius: 10px;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			transition: .3s;
		}
		&:hover{
			&:before{
				opacity: 1;
			}
			&:after{
				background: rgba(255,255,255,0.35);
				border-color: $color3;
			}
		}
	}
	img{
		display: block;
		border-radius: 10px;
	}
	button{
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		position: absolute;
		top: 50%;
		margin-top: -28px;
		transform: scale(.65);
		transition: transform .3s;
		$x: -85px;
		&.slick-prev{
			left: $x;
			transform: scale(-.65,.65);
			&:hover{
				transform: scale(-1,1)
			}
		}
		&.slick-next{
			right: $x;
			&:hover{
				transform: scale(1)
			}
		}
	}

}

// catalog
.catalog{
	background-color: $color3;
	color: $color2;
	padding-bottom: 10rem;
	h1:after{
		border-top-color: $color2;
	}
	a{
		color: $color2;
	}
	.row{
		margin: 4.3rem 0;
	}
	&__item{
		margin-top: 3rem;
	}
	&__link{
		position: relative;
		display: block;
		overflow: hidden;
		&:hover{
			text-decoration: none;
			.catalog{
				&__desc{
					opacity: 0;
					img{
						opacity: 0;
					}
				}
				&__bottom{
					bottom: 0;
				}
			}
		}
	}

	&__desc,
	&__bottom{
		background: rgba(41,40,81, .65);
		display: flex;
		padding-left: 8rem;
		padding-right: 8rem;
		position: absolute;
		z-index: 2;
		text-align: center;
		transition: .3s;
	}
	&__bottom{
		align-items: center;
		bottom: -90px;
		height: 90px;
		left: 0;
		right: 0;
		.catalog{
			&__title{
				margin-top: 0;
			}
		}
	}

	&__desc{
		align-items: center;
		flex-direction: column;
		justify-content: center;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		transition: .3s;
		img{
			transition: opacity .3s
		}
	}
	&__title{
		font-family: Cuprum;
		font-size: 2.4rem;
		line-height: 1.3;
		margin-top: 3rem;
		width: 100%;
	}
}