.hide{
	display: none;
}

.breadcrumbs{
	background-color: $color3;
	padding: 2.5rem 0;
	color: $color2;
	ul{
		display: flex;
		li:not(.current){
			margin-right: 10px;
			padding-right: 28px;
			position: relative;
			&:after{
				@extend .before;
				background: url(images/arrowbr.png) no-repeat right center;
				width: 18px;
				height: 6px;
				right: 0;
				top: 50%;
				margin-top: -3px;
			}
		}
		.current{
			color: $color4;
		}
	}
	a{
		color: $color2;	
	}
}

.hidenews{
	display: none;
}

.lastnews{
	.more{
		margin: 8rem 0 4rem;
	}
	.filter{
		margin-right: 1.5rem;
		font-size: 1.4rem;
		text-align: right;
		margin-top: -1.4rem;
		position: relative;
		a{
			margin-left: .7rem;
			color: $color3;
			@extend .tdu;
			&.active{
				color: $color2;
				cursor: default;
				text-decoration: none;
			}
		}
	}
}


.listnews{
	margin-top: 2.5rem;
	.news__item{
		margin-top: 3rem;
	}

	.item-hide{
		display: none;
	}

	&.loading{
		opacity: .6;
	}
}

.loader{
	background: url(images/loader.gif) no-repeat center;
	width: 256px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
}



#morenews{
	color: $color3;
	background: url('images/icon_arrow_down.svg') no-repeat right top 5px;
	padding-right: 15px;
	transition: none;
	&:hover{
		color: $color2;
		text-decoration: none;
		filter: brightness(10);
	}
}


.mainimg{
	display: block;
	height: auto;
	width: 100%;
}

// content
main{
	background-color: $color4;
	font-size: 1.6rem;	
	padding-top: 6.5rem;
	padding-bottom: 10.5rem;
	.content{
		background-color: $color2;
		border-radius: 8px;
		margin-bottom: 6rem;
		margin-top: 6rem;
	}

	h1{
		font-size: 3.6rem;
		position: relative;
	}

	p{
		line-height: 1.6;
		margin: 3rem 0;
	}

	img{
		max-width: 100%;
	}

	.datetime {
		margin: 3rem 0 -1rem;
	}
}


.justifyleft {text-align:left !important; }
.justifyright {text-align:right !important; }
.justifycenter {text-align: center !important; }
.justifyfull {text-align:justify !important; }

img.justifyleft, table.justifyleft {float:left; margin-right:10px;margin-bottom:5px;}
img.justifyright, table.justifyright {float:right; margin-left:10px;margin-bottom:5px;}
img.justifycenter, table.justifycenter { display: block; margin-left: auto; margin-right: auto;}