/* =navnews
---------------------------*/
.navnews{
	overflow: hidden;
	.nav-previous{
		float: left;
		display: flex;
	}
	.nav-next{
		float: right;
		display: flex;
	}

	
	.nav-previous a,
	.nav-next a{
		display: flex;
		font-family: Cuprum;
		color: $color3;
		text-transform: uppercase;
		position: relative;
		align-items: center;
		&:before{
			@extend .before;
			@include sprite($icon-arrow-left);
			@include transition-param;
			top: 50%;
			margin-top: -10px;
		}
		text-decoration: none;
		width: 410px;
		@include transition;
		&:hover{
			$color: $color2;
			color: $color;
			text-decoration: none;

			img{
				border-color: $color2;
			}

			&:before{
				filter: brightness(10);
			}
		}
	}

	$p : .8rem;


	.nav-previous a{
		padding-left: 4rem;
		&:before{
			left: 6px;
		}
		.navnews{
			&__text{
				padding-left: $p;
			}
		}
	}

	.nav-next a{
		padding-right: 2rem;
		justify-content: flex-end;
		&:before{
			@include rotation(180deg);
			right: 0;
		}
		.navnews{
			&__pic{
				order: 2;
			}
			&__text{
				text-align: right;
				padding-right: $p;
			}
		}
	}

	&__pic{
		width: 105px;
		flex-shrink: 0;
		img{
			@include transition-param(border-color);
			border-radius: 50%;
			border: 3px solid #777799;
			display: block;
		}
	}

	&__text{
		font-size: 1.8rem;
	}

	&__title{
		margin-top: 0;
		margin-bottom: 0;
	}

}
/* =/navnews
---------------------------*/



@media (max-width: 991px){
	.navnews__title{
		font-size: 1.4rem;
	}
}


@media (max-width: 980px){
	.navnews{
		&__pic{
			display: none;
		}

		.nav-next,
		.nav-previous
		{
			a{
				min-height: 45px;
				width: 42%;
			}
		}
	}
}


@media (max-width: 665px){
	.navnews{
		margin-top: 0;
		margin-bottom: -4rem;
		padding-top: 0;
		&__text{
			width: 100%;			
		}

		.nav-next,
		.nav-previous{
			a{
				float: none !important;
				margin: 3rem 0;
				width: 100%;
				min-height: 0;
				&:before{
					top: 50%;
					margin-top: -12px;
				}
			}
		}

		&__next a{
			text-align: right;
		}
	}
}