@media (max-width: 1680px){
	.header-homepage{
		.header__body{
			height: 750px;
		}
	}
}


@media (max-width: 1399px){
	#about-slider a{
		width: 90%;
		img{
			display: block;
			max-width: 100%;
		}
	}
}


@media (max-width: 1280px){
	.header-homepage{
		.header__body{
			height: 600px;
		}
	}

	#about-slider{
		button{
			$x: -30px;
			&.slick-prev{
				left: $x;
			}
			&.slick-next{
				right: $x;
			}
		}
	}
}

@media (max-width: 1000px){
	#about-slider{
		button{
			$x: -20px;
			&.slick-prev{
				left: $x;
			}
			&.slick-next{
				right: $x;
			}
		}
	}	
}


@media (max-width: 991px){
	#about-slider{
		button{
			$x: -40px;
			&.slick-prev{
				left: $x;
			}
			&.slick-next{
				right: $x;
			}
		}
	}	

	.catalog{
		&__bottom,
		&__desc{
			padding-left: 2rem;
			padding-right: 2rem;
		}
		&__title{
			font-size: 2rem;
		}
	}


	.about .text{
		font-size: 1.6rem;
	}

	.news__carousel{
		&:before,
		&:after{
			display: none;
		}
	}
}

@media (max-width: 900px){

}


@media (max-width: 550px){
	#about-slider{
		margin-left: -15px;
		margin-right: -15px;
		.slick-arrow{
			display: none !important;
		}
	}

	.news{
		&__link,
		&__desc{
			width: 300px;
		}
		&__link,
		&__desc{
			width: 250px;
		}
		&__desc{
			height: 110px;
		}
		&__title{
			min-height: 6rem;
			margin-top: 0;
			font-size: 2rem;
		}
	}
}

